[submodule "themes/minima"]
	path = themes/minima
	url = https://github.com/wangtuchuan/hugo-theme-minima-old
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
