<!-- example of mirror cdn.bootcdn.net-->
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-webfont/1.6.0/style.min.css" />
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-screen-webfont/1.6.0/style.min.css" />

<!-- 引入思源黑体 -->
<script> (function () {const customFont = document.createElement('link');customFont.href = "https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;500;700&display=swap";customFont.type = "text/css";customFont.rel = "stylesheet";document.head.appendChild(customFont);}());</script>
